body {
  margin: 0;
  padding-top: 80px;
  font-family: $font-main;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h2,
h3,
h4 {
  font-family: $font-main;
  padding: 0;
}

h2 {
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: $font-main-color;
  text-align: center;
}

.list-no-style {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
