.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $font-second-color;
}

.accent {
  color: $font-second-color;
}

.footer address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $font-color-light;
  margin-bottom: 9px;
}

.footer {
  background-color: #2f303a;
}

.padding-email {
  display: inline-block;
  margin-top: 9px;
}

.footer li a:hover,
.footer a:active,
.footer a:focus {
  color: $font-second-color;
}

.logo-footer-color {
  color: $font-color-light;
}

.footer .wrap {
  display: flex;
  flex-direction: column;
}

.footer-style {
  font-family: $font-second;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $font-color-light;
  display: inline-block;
  margin-bottom: 20px;
}

.social-footer {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: $font-color-light;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer:hover,
.social-footer:active,
.social-footer:focus {
  background-color: $font-second-color;
  fill: $font-color-light;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $font-color-light;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-box-contact {
  margin-right: 70px;
}

.footer-icon-padding {
  padding: 0;
}

.footer-box-link {
  margin-right: 99px;
}

.footer-box-action {
  display: block;
  align-items: baseline;
}

.footer-action-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $font-color-light;

  padding: 0;
  margin: 0;
}

.input-btn-footer {
  min-width: 358px;
  min-height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding-left: 16px;
  margin-top: 20px;
  border-radius: 4px;
  color: $font-color-light;
}

.footer-action-send {
  position: relative;
  width: 200px;
  height: 50px;

  margin-left: 12px;
}

.footer-action-send::after {
  content: "";
  /* display: inline-block; */

  /* position: absolute; */
  width: 24px;
  height: 24px;
  margin-left: 10px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  padding-right: 28px;

  background-image: url(../Images/icon_send.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
