.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: $font-main-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.team h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0px 0px 10px 0px;

  color: $font-main-color;
}

.team-style {
  padding: 20px 24px 20px 24px;
  background-color: $font-color-light;
  border-radius: 0px 0px 4px 4px;
}

.team-flex {
  display: flex;
  flex-wrap: wrap;
}

.team-flex .item {
  width: 270px;
}

.team-flex .item:not(:last-child) {
  margin-right: 30px;
}

.team ul p {
  font-family: $font-main;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: center;
  color: $font-third-color;
  margin: 0;
}

.team button {
  display: inline-flex;
  flex-direction: row;
  width: 44px;
  height: 44px;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0px;
  fill: #afb1b8;
  background-color: $font-color-light;
  margin-top: 16px;
  align-items: center;
}

.div-social {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.margin-social {
  margin-right: 10px;
}

.team .social {
  display: inline-flex;
  flex-wrap: wrap;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social:not(:last-child) {
  margin-right: 10px;
}

.team .social:hover,
.team .social:active,
.team .social:focus {
  background-color: $font-second-color;
  fill: $font-color-light;
}

.social-logo-style {
  align-items: center;
  justify-content: center;
}

.social svg {
  background-size: 20px;
  background-position: center;
}
